{% extends "layout.html" %}
{% block title %}
    検索窓
{% endblock %}
{% block body %}
<div style="margin: 80px;"></div>
<div align = "center">
    <form action="{{url_for('search.search_result')}}" method="POST">
        <input type="text" placeholder="キーワード" class="window" name="search_word" style="padding-top: 10px; padding-bottom: 10px; padding-right: 100px; padding-left: 5px;">
        <select size="1" class="category" name="search_category" style="padding: 10px; margin-left: 5px; border-radius: 3px;">
            <option value="" style="opacity: none;">選択しない</option>
            <option>教育</option>
            <option>論文</option>
            <option>サイエンス</option>
            <option>SF</option>
            <option>ホラー</option>
            <option>恋愛</option>
            <option>ラノベ</option>
        </select>
        <button type="submit" style="margin-left: 40px; padding-left: 10px; padding-right: 10px; padding-top: 6px; padding-bottom: 6px;">検索<i class="fas fa-search" style="margin-left: 8px;"></i></button>
    </form>
</div>
{% endblock %}