<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>管理者画面</title>
        <style>
            th {
                background-color: lightgreen;
            }
            body button {
                background-color: lightgreen;
            }
        </style>
    </head>
    <body>
        <h3>管理者画面</h3>
        <form action="" method="POST">
            <table border="1">
            　  <tr>
                    <th>id</th>
                    <th>タイトル</th>
                    <th>著者</th>
                    <th>カテゴリー</th>
                    <th>経済学部</th>
                    <th>法学部</th>
                    <th>理学部</th>
                    <th>工学部</th>
                    <th>文学部</th>
                    <th>医学部</th>
                </tr>
            　  <tr>
                    <td>1</td><td>Python入門</td><td>Linux Academy</td><td>教育</td>
                    <td>1</td><td>1</td><td>1</td><td>1</td><td>100</td><td>1</td>
                </tr>
                <tr>
                    <td>2</td><td>Java入門</td><td>Linux Academy</td><td>教育</td>
                    <td>1</td><td>1</td><td>1</td><td>1</td><td>99</td><td>1</td>
                </tr>
                <tr>
                    <td>3</td><td>Steins;Gate</td><td>科学アドベンチャー</td><td>SF</td>
                    <td>1</td><td>1</td><td>1</td><td>10000</td><td>1</td><td>1</td>
                </tr>
                <tr>
                    <td>4</td><td>貞子 the world mission</td><td>貞子</td><td>ホラー</td>
                    <td>1</td><td>1</td><td>50</td><td>1</td><td>1</td><td>1</td>
                </tr>
                <tr>
                    <td>5</td><td>光ファイバーによる温度センサーの効率化</td><td>平井</td><td>論文</td>
                    <td>100</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>
                </tr>
                <tr>
                    <td>6</td><td>超音波定在波を用いた液滴燃料の微細化</td><td>山岸</td><td>論文</td>
                    <td>1</td><td>100</td><td>1</td><td>1</td><td>1</td><td>1</td>
                </tr>
                <tr>
                    <td>7</td><td>モンテカルロ法を用いた大貧民プログラムの相互干渉に関する研究</td><td>藤木</td><td>論文</td>
                    <td>1</td><td>1</td><td>100</td><td>1</td><td>1</td><td>1</td>
                </tr>
                <tr>
                    <td>8</td><td>位置関係マトリクスの数値エラーに対する導出手順に基づいた体系的な修正手順の提案</td><td>土橋</td><td>論文</td>
                    <td>1</td><td>1</td><td>1</td><td>100</td><td>1</td><td>1</td>
                </tr>
                <tr>
                    <td>9</td><td>イニシエーションラブ</td><td>乾くるみ</td><td>恋愛</td>
                    <td>1</td><td>1</td><td>1</td><td>1</td><td>100</td><td>1</td>
                </tr>
                <tr>
                    <td>10</td><td>転生したらスライムだった件</td><td>伏瀬</td><td>ラノベ</td>
                    <td>1</td><td>1</td><td>1</td><td>8000</td><td>1</td><td>1</td>
                </tr>
            </table>
        </form>
    </body>
</html>