{% extends "layout.html" %}
{% block title %}
    詳細
{% endblock %}
{% block body %}
<header>
    <div>
        <button>TOP</button>
        <button>カート</button>
        <button>ログアウト</button>
    </div>
</header>
<h3>詳細</h3>
<form action="" method="POST">
    <table border="3px">
        <tr>
            <th>タイトル</th><td>Python入門</td>
        </tr>
        <tr>
            <th>著者</th><td>Linux Academy</td>
        </tr>
        <tr>
            <th>カテゴリー</th><td>教育</td>
        </tr>
        <tr>
            <th>本の場所</th><td>A-109</td>
        </tr>
    </table>
    <br>
    <div><button>カートに追加</button></div>
</form>
{% endblock %}