{% extends "layout.html" %}
{% block title %}
TOP
{% endblock %}

{% block body %}
    <style>
        h3{
            background-color: lightgreen;
        }
        
        p {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 60px auto 40px;
        }
        table {
        margin: 20px auto;
        }
        .top3 th {
        background: #e9727e;
        border: solid 1px #ccc;
        color: #fff;
        padding: 10px;
        }
        .top3 td {
        border: solid 1px #ccc;
        padding: 10px;
        }
        
        @media screen and (max-width: 640px) {
        .last td:last-child {
            border-bottom: solid 1px #ccc;
            width: 100%;
        }
        .top3 {
            width: 80%;
        }
        .top3 th,
        .top3 td {
        border-bottom: none;
        display: block;
            width: 100%;
        }
        }
        h2{
            text-align: center;
        }
        
    </style>

    <h3>ようこそ{{ name }}さん！</h3>
    <a href="{{url_for('search.window')}}">検索画面へGO!</a>
    <h2>本日のランキング～{{ underguraduate }}編～</h2>

    <table class="top3">
        <tr>
            <th>順位</th>
            <th>カテゴリ</th>
            <th>タイトル</th>
            <th>著者</th>
            <th>詳細はこちら</th>
        </tr>
            {% for row in ranking %}
            <tr>
                <th>{{ loop.index }}</th>
                <td>{{ row.category }}</td>
                <td>{{ row.title }}</td>
                <td>{{ row.name }}</td>
                <form action="{{url_for('details.show_details', id=row.id)}}" method="POST">
                    <td><button value="submit">詳細</button></td>
                </form>
            </tr>
            {% endfor %}
    </table>
{% endblock %}