{% extends "layout.html" %}
{% block title %}
TOP
{% endblock %}

{% block body %}
    <h3>ようこそXXさん！</h3>
    <p><button>検索画面へGO！</button></p>
    <h2>本日のランキング～xx学部編～</h2>

    <table>
    <tr>
        <th>順位</th>
        <th>カテゴリ</th>
        <th>タイトル</th>
        <th>著者</th>
        <th>詳細はこちら</th>
    </tr>
    <tr>
    <th>第1位</th>
    <td>SF</td>
    <td>スターウォーズ</td>
    <td>スピルバーグ</td>
    <td><button>詳細</button></td>
    </tr>
    <tr>
    <th>第2位</th>
    <td>教育</td>
    <td>君の膵臓をたべたい </td>
    <td>土橋真稀</td>
    <td><button>詳細</button></td>
    </tr>
    <tr class="last">
    <th>第3位</th>
    <td>恋愛（哲学）</td>
    <td>容疑者Ｘの献身</td>
    <td>西田敏行</td>
    <td><button>詳細</button></td>
    </tr>
    </table>

    <table border="2">
        <tr>
            <th>順位</th>
            <th>カテゴリ</th>
            <th>タイトル</th>
            <th>著者</th>
            <th>詳細はこちら</th>
        </tr>
    <tr>
        <th>4</th>
        <th>恋愛（哲学）</th>
        <th>ルパン三世</th>
        <th>アガサ博士</th>
        <th><button>詳細</button></th>
    </tr>
    <tr>
        <th>5</th>
        <th>カテゴリ</th>
        <th>本のタイトル</th>
        <th>著者</th>
        <th><button>詳細</button></th>
    </tr>
    <tr>
        <th>6</th>
        <th>カテゴリ</th>
        <th>本のタイトル</th>
        <th>著者</th>
        <th><button>詳細</button></th>
    </tr>
    <tr>
        <th>7</th>
        <th>カテゴリ</th>
        <th>本のタイトル</th>
        <th>著者</th>
        <th><button>詳細</button></th>
    </tr>
    <tr>
        <th>8</th>
        <th>カテゴリ</th>
        <th>本のタイトル</th>
        <th>著者</th>
        <th><button>詳細</button></th>
    </tr>
    <tr>
        <th>9</th>
        <th>カテゴリ</th>
        <th>本のタイトルtaitoru </th>
        <th>著者</th>
        <th><button>詳細</button></th>
    </tr>
    <tr>
        <th>10</th>
        <th>論文</th>
        <th>アンパンマン</th>
        <th>著者さん</th>
        <th><button>詳細</button></th>
    </tr>
    </table>
{% endblock %}