{% extends "layout.html" %}
{% block title %}
    カート一覧
{% endblock %}
{% block body %}
    <style>
        table{
            text-align: center;
            }
        h3{
            background-color: lightgreen;
        }
        /*popup表示させたいコンテンツのレイアウトと位置*/
        #popup{
        width:30%;
        line-height:100px;
        padding:0 4%;
        box-sizing:border-box;
        display:none;
        position:fixed;
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: rgb(185, 184, 184);
        }
        span{
            text-align: center;
        }

        label{
        display:block;
        }
        /*ボタンの装飾*/
        label span{
        display:block;
        background-color:red;
        color:#fff;
        width:200px;
        line-height:40px;
        border-radius:4px;
        text-align:center;
        }
        label span:hover{
        cursor:pointer;
        }
        input[type="checkbox"]{
        display:none;
        }
        /*checkboxがチェックの状態になったらpopupを表示させる*/
        input[type="checkbox"]:checked + #popup{
        display:block;
        }
    </style>

    <script>
        function show_popup(){
            if(window.confirm('よろしいですか？')){
                location.href = "{{url_for('carts.insert')}}";
            }
            else{
                window.alert('キャンセルされました'); // 警告ダイアログを表示
            }
            alert('借りました');
        }
    </script>

    <h3>カート一覧</h3>
    <table border="2">
        <thead>
        <tr>
            <th>カテゴリ</th>
            <th>タイトル</th>
            <th>著者</th>
            <th>カートから削除</th>
        </tr>    
        </thead>
        <tbody>
            {% if cart_details %}
                {% for cart_detail in cart_details: %}
                    <tr>
                        <td>{{ cart_detail.category }}</td>
                        <td>{{ cart_detail.title }}</td>
                        <td>{{ cart_detail.name }}</td>
                        <td>
                            <form action="{{url_for('carts.delete',book_id=cart_detail.id)}}" method="POST">
                                <button type="submit">削除</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"></td>
                    <td>
                        <form action="{{url_for('carts.delete',book_id='all')}}" method="POST">
                            <button type="submit">全削除</button>
                        </form>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <h2>
        <label>
            <span type="submit" onClick="show_popup()">借りる</span>
        </label>
    </h2>

{% endblock %}