<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>ログイン画面</title> 
        <link rel="stylesheet" href="/login.css"> 
    </head>
    <body>
        <form action="{{url_for('login')}}" method="POST">

            <h1>ログイン</h1>
            <hr>
            {% for category, message in get_flashed_messages(with_categories=true) %}
                {% if category == 'success' %}
                    <div style="background-color: #98fb98;">{{ message }}</div>
                {% elif category == 'error' %}
                    <div style="background-color: #ffc0cb;">{{ message }}</div>
                {% endif %}
            {% endfor %}
            <div align = "center">
                <table border="0">
                    <tr>
                        <th>
                            ユーザID
                        </th>
                        <td>
                            <input type="text" name="user_id" value="" size="24">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            パスワード
                        </th>
                        <td>
                            <input type="password" name="password" value="" size="24">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="ログイン">
                        </td>
                        <td colspan="2">
                            <a href="{{url_for('signup.sign_up')}}">新規登録</a>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </body>
</html>
