<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>  
</head>
<body>
    <form action="{{url_for('login')}}" method="POST"></form>
        <h1>新規登録</h1>
        <hr>
        <div align = "center">
            <table border="0">
        <form action="#" method="post">
            <p>学部：<br>
                <input type="text" name="undergraduate" value="" size="24"></p>
            <p>学科：<br>
                <input type="text" name="graduate" value="" size="24"></p>
    	    <p>お名前：<br>
	            <input type="text" name="name" value="" size="24"></p>
	        <p>ユーザID：<br>
                <input type="text" name="id" value="" size="24"></p>
            <p>パスワード：<br>
                <input type="text" name="password" value="" size="24"></p>
        </form>
        <tr>
        <td colspan="2">
            <input type="submit" value="登録">
        </td>
    </tr>
</body>
</html>
